@{
	ViewData["Title"] = "Home Page";
}

<main>
	<div class="TitreConteur">
		<h2>Prochaine lotterie dans :</h2>
	</div>
	<div class="formeCompteur">
		<p class="compteur">04:36</p>
	</div>
	<a href="#" class="btnJouer">
		<p class="lblJouer">Jouer</p>
	</a>
	<div>
		<p class="titreGuid">Entrer votre code pour voir les résultats :</p>
		<div class="formGuid">
			<input type="text" class="codeGuid" name="codeGuid">
		</div>
		<a href="#" class="valider">
			<p class="lblValider">Valider</p>
		</a>
	</div>
</main>
