@{
	ViewData["Title"] = "Home Page";
}

<main>
    <div class="formeCompteur_Jeu">
        <p class="compteur_Jeu">04:36</p>
    </div>

    <div class="grille">
        <div class="grilleLine">
            <input class="NbGrille" type="button" value="1" id="1">
            <input class="NbGrille" type="button" value="2" id="2">
            <input class="NbGrille" type="button" value="3" id="3">
            <input class="NbGrille" type="button" value="4" id="4">
            <input class="NbGrille" type="button" value="5" id="5">
            <input class="NbGrille" type="button" value="6" id="6">
            <input class="NbGrille" type="button" value="7" id="7">
        </div>
        <div class="grilleLine">
            <input class="NbGrille" type="button" value="8" id="8">
            <input class="NbGrille" type="button" value="9" id="9">
            <input class="NbGrille" type="button" value="10" id="10">
            <input class="NbGrille" type="button" value="11" id="11">
            <input class="NbGrille" type="button" value="12" id="12">
            <input class="NbGrille" type="button" value="13" id="13">
            <input class="NbGrille" type="button" value="14" id="14">
        </div>
        <div class="grilleLine">
            <input class="NbGrille" type="button" value="15" id="15">
            <input class="NbGrille" type="button" value="16" id="16">
            <input class="NbGrille" type="button" value="17" id="17">
            <input class="NbGrille" type="button" value="18" id="18">
            <input class="NbGrille" type="button" value="19" id="19">
            <input class="NbGrille" type="button" value="20" id="20">
            <input class="NbGrille" type="button" value="21" id="21">
        </div>
        <div class="grilleLine">
            <input class="NbGrille" type="button" value="22" id="22">
            <input class="NbGrille" type="button" value="23" id="23">
            <input class="NbGrille" type="button" value="24" id="24">
            <input class="NbGrille" type="button" value="25" id="25">
            <input class="NbGrille" type="button" value="26" id="26">
            <input class="NbGrille" type="button" value="27" id="27">
            <input class="NbGrille" type="button" value="28" id="28">
        </div>
        <div class="grilleLine">
            <input class="NbGrille" type="button" value="29" id="29">
            <input class="NbGrille" type="button" value="30" id="30">
            <input class="NbGrille" type="button" value="31" id="31">
            <input class="NbGrille" type="button" value="32" id="32">
            <input class="NbGrille" type="button" value="33" id="33">
            <input class="NbGrille" type="button" value="34" id="34">
            <input class="NbGrille" type="button" value="35" id="35">
        </div>
        <div class="grilleLine">
            <input class="NbGrille" type="button" value="36" id="36">
            <input class="NbGrille" type="button" value="37" id="37">
            <input class="NbGrille" type="button" value="38" id="38">
            <input class="NbGrille" type="button" value="39" id="39">
            <input class="NbGrille" type="button" value="40" id="40">
            <input class="NbGrille" type="button" value="41" id="41">
            <input class="NbGrille" type="button" value="42" id="42">
        </div>
        <div class="grilleLine">
            <input class="NbGrille" type="button" value="43" id="43">
            <input class="NbGrille" type="button" value="44" id="44">
            <input class="NbGrille" type="button" value="45" id="45">
            <input class="NbGrille" type="button" value="46" id="46">
            <input class="NbGrille" type="button" value="47" id="47">
            <input class="NbGrille" type="button" value="48" id="48">
            <input class="NbGrille" type="button" value="49" id="49">
        </div>

        <div class="btnGrille">
            <a class="resetGrille">
                <p class="lblresetGrille">Réinitialiser</p>
            </a>
            <a class="validerGrille">
                <p class="lblValiderGrille">Valider</p>
            </a>
        </div>
    </div>

    <div class="imgForm">
        <a asp-controller="Home" asp-action="Index">
            <img class="imgRetour" src="~/images/fleche.png">
        </a>
    </div>
</main>