body {
    background: #12263A;
} 

.FirstContainer {
    text-align: center;
    color: blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-width: 3px;
    border-color: red;
}

.box {
    width: 100px;
    height: 100px;
    padding: 100px;
    border: 1px solid #000;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
