/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #12263A;
}*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Mono:wght@300&family=Ruda:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto+Mono:wght@300&display=swap');

* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #12263A;
}


@media (min-width: 500px) {

    .top {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .titre {
        margin-left: 0,5%;
        font-size: 30px;
    }

    .logo {
        width: 120px;
        height: 120px;
    }

    .TitreConteur {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        color: #FFFFFF;
        font-size: 25px;
    }

    .formeCompteur {
        border: solid;
        border-color: #FF8A00;
        border-radius: 20px;
        border-width: 8px;
        display: flex;
        align-items: center;
        width: 400px;
        height: 150px;
        margin: auto;
        margin-bottom: 15px;
    }

    .compteur {
        margin-left: auto;
        margin-right: auto;
        color: #FFFFFF;
        font-family: 'Roboto Mono', sans-serif;
        font-size: 70px;
    }

    .btnJouer {
        width: 222px;
        height: 35px;
        background-color: #FF8A00;
        border-radius: 20px;
        margin: auto;
        display: flex;
        text-decoration: none;
    }

        .btnJouer:hover {
            background-color: #8a4a00;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }

    .lblJouer {
        margin-left: auto;
        margin-right: auto;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        text-align: center;
        margin: auto;
    }

    .titreGuid {
        color: #FFFFFF;
        font-family: 'Ruda', sans-serif;
        text-align: center;
        font-size: 15px;
        margin-top: 45px;
        margin-bottom: 0.5%;
    }

    .formGuid {
        width: 330px;
        height: 30px;
        background-color: #ADADAD;
        border-radius: 50px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .codeGuid {
        width: 300px;
        font-family: 'Ruda', sans-serif;
        background-color: #ADADAD;
        font-size: 15px;
        text-align: center;
    }

    .valider {
        background-color: #FF8A00;
        width: 85px;
        height: 30px;
        border-radius: 20px;
        margin: auto;
        display: flex;
        margin-top: 8px;
        text-decoration: none;
    }

        .valider:hover {
            background-color: #8a4a00;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }

    .lblValider {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }

    .footer {
        display: flex;
        color: #FFFFFF;
        width: 100%;
        height: 30px;
        background-color: #001020;
        position: fixed;
        bottom: 0;
    }

        .footer p {
            margin: auto;
            font-family: 'Ruda', sans-serif;
            font-size: 12px;
        }

    .Afooter {
        color: #FFFFFF;
        text-decoration: none;
    }

        .Afooter:hover {
            text-decoration: underline;
        }

    /*Parti jeu.html*/
    .formeCompteur_Jeu {
        border: solid;
        border-color: #FF8A00;
        border-radius: 17px;
        border-width: 6px;
        display: flex;
        align-items: center;
        width: 150px;
        height: 80px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: 10px;
        position: absolute;
        top: 15px;
        right: 10px;
    }

    .compteur_Jeu {
        margin-left: auto;
        margin-right: auto;
        color: #FFFFFF;
        font-family: 'Roboto Mono', sans-serif;
        font-size: 30px;
    }

    .grille {
        width: 400px;
        height: 360px;
        margin: auto;
    }

    .NbGrille {
        width: 30px;
        height: 30px;
        border-radius: 25px;
        background-color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        margin-top: 12px;
        margin-left: 20px;
    }

        .NbGrille:hover {
            color: #FFFFFF;
            background-color: #FF8A00;
            cursor: pointer;
        }

    .validerGrille {
        background-color: #FF8A00;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        margin-top: 20px;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
    }

    .btnGrille {
        display: flex;
        justify-content: space-around;
    }

    .resetGrille {
        background-color: #FF8A00;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        margin-left: 5px;
        display: flex;
        margin-top: 20px;
        text-decoration: none;
    }

    .validerGrille:hover {
        background-color: #8a4a00;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    .resetGrille:hover {
        background-color: #8a4a00;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    .lblresetGrille {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }

    .lblValiderGrille {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }

    .imgForm {
        width: 75px;
        height: 75px;
        background-color: #FF8A00;
        position: absolute;
        border-radius: 50px;
        bottom: 45px;
        left: 20px;
    }

        .imgForm:hover {
            background-color: #8a4a00;
        }

    .imgRetour {
        width: 75px;
        height: 75px;
    }

    /*Parti resultat.html*/
    .lblResult {
        text-align: center;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        margin-top: 15px;
    }

    .FormResultat {
        width: 600px;
        height: 250px;
        margin: auto;
    }

    .imgResult {
        width: 600px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }
}

@media (min-width: 1500px) {

    .top {
        width: 100%;
        height: 160px;
        display: flex;
        align-items: center;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .titre {
        margin-left: 0,5%;
        font-size: 50px;
    }

    .logo {
        width: 160px;
        height: 160px;
    }

    .TitreConteur {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4%;
        margin-bottom: 15px;
        color: #FFFFFF;
        font-size: 35px;
    }

    .formeCompteur {
        border: solid;
        border-color: #FF8A00;
        border-radius: 25px;
        border-width: 10px;
        display: flex;
        align-items: center;
        width: 600px;
        height: 240px;
        margin: auto;
        margin-bottom: 30px;
    }

    .compteur {
        margin-left: auto;
        margin-right: auto;
        color: #FFFFFF;
        font-family: 'Roboto Mono', sans-serif;
        font-size: 110px;
    }

    .btnJouer {
        width: 333px;
        height: 55px;
        background-color: #FF8A00;
        border-radius: 50px;
        margin: auto;
        display: flex;
    }

        .btnJouer:hover {
            background-color: #8a4a00;
            color: white;
            cursor: pointer;
        }

    .lblJouer {
        margin-left: auto;
        margin-right: auto;
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        text-align: center;
        margin: auto;
    }

    .titreGuid {
        color: #FFFFFF;
        font-family: 'Ruda', sans-serif;
        text-align: center;
        font-size: 20px;
        margin-top: 90px;
        margin-bottom: 0.5%;
    }

    .formGuid {
        width: 682px;
        height: 40px;
        background-color: #ADADAD;
        border-radius: 50px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .codeGuid {
        width: 600px;
        font-family: 'Ruda', sans-serif;
        background-color: #ADADAD;
        font-size: 20px;
        text-align: center;
    }

    .valider {
        background-color: #FF8A00;
        width: 150px;
        height: 40px;
        border-radius: 50px;
        margin: auto;
        display: flex;
        margin-top: 15px;
        text-decoration: none;
    }

        .valider:hover {
            background-color: #8a4a00;
            color: white;
            cursor: pointer;
            text-decoration: none;
        }

    .lblValider {
        color: #FFFFFF;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        margin-left: auto;
        margin-right: auto;
        margin: auto;
    }

    .footer {
        display: flex;
        color: #FFFFFF;
        width: 100%;
        height: 40px;
        background-color: #001020;
        position: fixed;
        bottom: 0;
    }

        .footer p {
            margin: auto;
            font-family: 'Ruda', sans-serif;
        }

    .Afooter {
        color: #FFFFFF;
        text-decoration: none;
    }

        .Afooter:hover {
            text-decoration: underline;
        }
}


