@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h2 class="lblResult">Votres Résultat est :</h2>
    <div class="FormResultat">
        <img class="imgResult" src="~/images/TicketWinVierge.PNG">
    </div>

    <div class="imgForm">
        <a asp-controller="Home" asp-action="Index">
            <img class="imgRetour" src="~/images/fleche.png">
        </a>
    </div>
</main>