@{
    ViewData["Title"] = "Home Page";
}

<main>
    <h2 class="lblResult">Votres Résultat est :</h2>
    <div class="FormResultat">
        <img class="imgResult" src="assets/images/TicketWinVierge.PNG">
    </div>

    <div class="imgForm">
        <a href="#">
            <img class="imgRetour" src="assets/images/fleche.png">
        </a>
    </div>
</main>